/*******************************************************************************
******************************* COLOUR VARIABLES *******************************
*******************************************************************************/
$color-139cd5 :#139cd5;
$color-013945 :#013945;
$color-4aa882 :#4aa882;
$color-25abbf :#25abbf;
$color-80b15a :#80b15a;
$color-59407a :#59407a;
$color-df5e34 :#df5e34;
$color-f2f3f4 :#f2f3f4;
$color-4d4d4d :#4d4d4d;
$color-a8a8a8 :#a8a8a8;
$color-dadada :#dadada;
$color-00000010 :#00000010;
$color-00000000 :#00000000;
$color-ffffff30 :#ffffff30;
/*******************************************************************************
******************************* FONTS VARIABLES *******************************
*******************************************************************************/
$font15 :15px;
$font16 :16px;
$font18 :18px;
$font20 :20px;
$font22 :22px;
$font24 :24px;
$font28 :28px;
$font30 :30px;
$font40 :40px;
$font48 :48px;

/*******************************************************************************
******************************* LINE HEIGHT *******************************
*******************************************************************************/
$leading24 :24px;
$leading16 :16px;

/*******************************************************************************
******************************* LETTER SPACING *******************************
*******************************************************************************/

/*******************************************************************************
******************************* ANIMATION VARIABLES ****************************
*******************************************************************************/


@mixin generate-transition($name, $duration, $type) {
  -webkit-transition: $name $duration $type;
  /* Safari 4+ */
  -moz-transition: $name $duration $type;
  /* Fx 5+ */
  -o-transition: $name $duration $type;
  /* Opera 12+ */
  transition: $name $duration $type;
  /* IE 10+, Fx 29+ */
}

@mixin generate-animation-delay($seconds) {
  -webkit-animation-delay: $seconds;
  /* Safari 4+ */
  -moz-animation-delay: $seconds;
  /* Fx 5+ */
  -o-animation-delay: $seconds;
  /* Opera 12+ */
  animation-delay: $seconds;
  /* IE 10+, Fx 29+ */
}

@mixin generate-placeholder($color, $fontsize) {
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $fontsize;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
    font-size: $fontsize;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
    font-size: $fontsize;
  }

  &:-ms-input-placeholder {
    color: $color;
    font-size: $fontsize;
  }
}

@mixin generate-scale-transition() {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);
}

@mixin generate-transform($transform) {
  -webkit-transform: $transform;
  /* Safari and Chrome */
  -moz-transform: $transform;
  /* Firefox */
  -ms-transform: $transform;
  /* IE 9 */
  -o-transform: $transform;
  /* Opera */
  transform: $transform;
}

@mixin generate-filter($filter) {
  -webkit-filter: $filter;
  filter: $filter;
  -moz-filter: $filter;
  -o-filter: $filter;
}

$enable-negative-margins: true;