.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.header-card {
    height: 132px;
    border: 1px solid $white;

    .header-card-img {
        height: 100px;
    }
}

.shop-card {
    height: 458px;

    .shop-card-img {
        height: 303px;
        width:303px;
    }

    &:hover {
        background-color: $color-139cd5 !important;
        color: $white !important    ;
    }
}