.history-section {
    .history-slider {
        .slick-slide {
            width: 585px !important;
        }

        .history-img {
            height: 400px;
        }

        .timeline-bg {
            height: 139px;
            width: 250px;
            bottom: 66px;
            left: 25%;
        }
    }
}