.header {
    .header-section {
        .top-header {
            .top-navigation {
                .nav {
                    li {
                        &:last-child {
                            margin-right: 0 !important;
                        }

                        &.active {
                            a {
                                color: $color-139cd5;
                            }
                        }

                        a {
                            color: $white;

                            &:hover {
                                color: $color-139cd5;
                            }

                        }
                    }
                }
            }
        }

        .nav-header {
            .header-logo {
                width: 170px;
            }

            .navigation {
                .nav {
                    li {
                        &:last-child {
                            margin-right: 0 !important;
                        }

                        &.active {
                            a {
                                color: $color-139cd5;
                            }
                        }


                        a {
                            color: $color-013945;

                            &:hover {
                                color: $color-139cd5;
                            }
                        }

                        .mega-menu {
                            opacity: 0;
                            visibility: hidden;
                            transform: translateY(-30px);
                        }
                    }
                }
            }
        }

        .my-acc-logo {
            width: 20px;
        }

        .basket-logo {
            width: 23px;
        }
    }

    &.header-hover {
        .header-section {
            .nav-header {
                .navigation {
                    .nav {
                        li {
                            &.menu-active {
                                a {
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        height: 15px;
                                        width: 0%;
                                        opacity: 0;
                                        visibility: hidden;
                                        background-color: pink;

                                        @include media-breakpoint-down(lg) {
                                            display: none;
                                        }
                                    }

                                }
                            }

                            .mega-menu {
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(0px);
                            }
                        }
                    }
                }
            }
        }
    }
}