.tab-container {
    .tab-menu {
        a {
            @include media-breakpoint-up(lg) {
                height: 74px;
                background-color: $white;
                color: $color-139cd5;

                &.active {
                    background-color: $color-013945;
                    color: $white;
                }
            }

            &.tab-btn {
                &.active {
                    background-color: $color-013945;
                    color: $white;
                }
                &.active:hover{
                    border: 2px solid $color-013945;
                }

                background-color: $color-139cd5 ;
                color: $white;

                &:hover {
                    background-color: transparent;
                    color: $color-139cd5;
                    border: 2px solid $color-139cd5;
                }
            }
        }
    }
}

.tab {
    display: none;
}

.tab-active {
    display: block;
}