.tab-container {
    .tab-menu {
        a {
            height: 74px;
            background-color: $white;
            color: $color-139cd5;

            &.active {
                background-color: $color-013945;
                color: $white;
            }

            &.tab-btn {

                &.active {
                    background-color: $color-013945;
                    color: $white;
                }

                background-color: $color-139cd5 ;
                color: $white;

                &:hover {
                    background-color: transparent;
                    color: $color-139cd5;
                    border: 1px solid $color-139cd5;
                }
            }
        }
    }
}

.tab {
    display: none;
}

.tab-active {
    display: block;
}